<#assign ctx=request.contextPath>
<link rel="stylesheet" type="text/css" href="${ctx}/css/ztree/ztree.css"/>
<script type="text/javascript" src="${ctx}/js/ztree/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="${ctx}/js/ztree/jquery.ztree.all-3.1.js"></script>
<script type="text/javascript">
    var setting = {
        view: {
            dblClickExpand: false,
            showLine: true
        },
        data: {
            simpleData: {
                enable: true,
                idKey: "id",
                pIdKey: "pId",
                rootPId: ""
            }
        },
        callback: {
            beforeClick: zTreeOnClick
        }
    };
    var zNodes = [${tree}];

    function dblClickExpand(treeId, treeNode) {
        return treeNode.level > -1;
    }

    $(function () {
        var t = $.fn.zTree.init($("#tree"), setting, zNodes);
    });

    function zTreeOnClick(treeId, treeNode) {
        loadEmployeeList(treeNode.id);
    }

    //刷新右侧页面
    function loadEmployeeList(departmentId) {
        var url = "${ctx}/admin/department_findEmployeeListByOption?employee.departmentId=" + departmentId;
        $.post(url, '', function (data) {
            $("#employee_list").html("");
            $("#employee_list").html(data);
        }, 'html');
    }

    function openWin() {
        //javascript:openWindow('','700','700');
        window.open('${ctx}/admin/loadEmployee?departmentMembersId=0');
    }
</script>
</head>
<body>
<div id="structure_left" class="left">
    <div id="dtree">
        <ul id="tree" class="ztree" style="width:260px; overflow:auto;"></ul>
    </div>
</div>

<div id="user_right" class="right">
    <div class="operation">
        <input type="button" class="oper_cont"
               onclick="javascript:openWindow('${ctx}/admin/loadEmployee?departmentMembersId=0','700','700')"
               value="添加员工"/>
    </div>
    <form id="get_employee_list" action="">
        <div id="employee_list">
        <#include "/admin/function/structureMembersList.html"/>
        </div>
    </form>
</div>
</body>
</html>