<%@page contentType="text/html" pageEncoding="UTF-8"%>
<%@ include file="/pages/common/taglib.jsp"%>
<%@ include file="/pages/common/meta.jsp"%>
<%@ include file="/pages/common/style.jsp"%>
<%@ include file="/pages/common/script.jsp"%>
<script type="text/javascript">
    function returnBack() {
        self.close();
    }
</script>
<div id="members_list" title="员工编辑">
    <form id="members_save"
          action="${path}/admin/department_saveEmployee.action" method="post">
        <input type="hidden" name="employee.departmentMembersId"
               value="${employee.departmentMembersId}"/> <input type="hidden"
                                                                name="employee.orgId" value="${employee.orgId}"/> <input
            type="hidden" name="employee.userId" value="${employee.userId}"/>
        <table>
            <tr>
                <td><label> * </label>登录账号:</td>
                <td><input id="userName" name="employee.userName"
                           value="${employee.userName}" type="text"/> <label>@${org.orgId}</label>
                </td>
            </tr>
            <tr>
                <td><label> * </label> 密码:</td>
                <td><input id="userPassword" name="employee.userPassword"
                           value="${employee.userPassword}" type="password"/>
                </td>
            </tr>
            <tr>
                <td><label> * </label> 姓名:</td>
                <td><input id="name" name="employee.name"
                           value="${employee.name}" type="text"/>
                </td>
            </tr>
            <tr>
                <td>性别:</td>
                <td><select name="employee.sex" id="sex">
                    <option>男</option>
                    <option>女</option>
                </select></td>
            </tr>
            <tr>
                <td><label> * </label> 所属部门:</td>
                <td>
                    <s:select id="department" list="departmentList"
                              headerKey="0" headerValue="未分配部门" listKey="departmentId"
                              listValue="departmentName" value="employee.departmentId"
                              name="employee.departmentId">
                    </s:select>
                </td>
            </tr>
            <tr>
                <td class="oright">职务:</td>
                <td>
                    <s:select list="roleList" headerKey="0" headerValue="未分配职务"
                              listKey="roleId" listValue="roleName" value="employee.roleId"
                              name="employee.roleId">
                    </s:select>
                </td>
            </tr>
            <tr>
                <td>手机:</td>
                <td><input id="mobilePhone" name="employee.mobilePhone"
                           value="${employee.mobilePhone}" type="text"/>
                </td>
            </tr>
            <tr>
                <td>E-mail:</td>
                <td><input id="email" name="employee.email"
                           value="${employee.email}" type="text"/>
                </td>
            </tr>
        </table>
        <input type="submit" value="确定"> <input type="button"
                                                onclick="returnBack();" value="取消">
    </form>
</div>