<#assign ctx=request.contextPath>
<link href="${ctx}/css/list/list_style.css" rel="stylesheet" type="text/css"/>
<div class="rightinfo">

    <table class="tablelist">
        <thead>
        <tr>
            <th><input name="checkAll" id="checkAll" type="checkbox"/></th>
            <th>公告标题</th>
            <th>公告内容</th>
            <th>公告类型</th>
            <th>发布时间</th>
            <th>操作</th>
        </tr>
        </thead>

    <#if noticeList??>
        <#list noticeList as notice>
            <tbody id="tbody_${notice.noticeId}">
            <tr>
                <td style="width:25px;">
                    <input id="box_${notice.noticeId}" name="box_${notice.noticeId}" type="checkbox"
                           value="${notice.noticeId}"/>
                </td>
                <td style="width:150px;">${notice.noticeName}</td>
                <td style="width:250px;">${notice.notice}</td>
                <td style="width:100px;">
                    <#if notice.noticeType=="1">
                        制度
                    <#elseif notice.noticeType=="2">
                        通知
                    <#else>
                        新闻
                    </#if>
                </td>
                <td style="width:100px;">${notice.publishTime?string("yyyy-MM-dd")}</td>
                <td>
                    <a href="#" class="tablelink">查看</a>&nbsp;|&nbsp;
                    <a href="javascript:void(0);" id="deleteBtn2" class="tablelink">删除</a>
                </td>
            </tr>

            </tbody>
        </#list>
    </#if>
    </table>
</div>