<div class="header">
    <div class="fun_help">
        <div class="fun_help title">
            <ul>
                <li><a href="${ctx}/user/loginOut">退出</a></li>
            </ul>
        </div>
    </div>
    <div class="function">
        <div class="corp_user">
            <!-- 登录企业名称 -->
            <h5>${org.orgName}</h5>
        </div>

        <div class="fun_title">
            <ul>
            <#if menuList??>
                <#list menuList as menu>
                    <li id="${menu.menuId}">
                        <a id="${menu.menuId}" rel="${ctx}/${menu.url}${menu.parameter}" title="${menu.menuName}">
                            <div class="">
                                <img src="${ctx}/${menu.menuIcon?default('')}"/>
                            </div>
                        ${menu.menuName}
                        </a>
                    </li>
                </#list>

            </#if>
            </ul>
        </div>

    </div>
</div>