<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.mapper.OrderItemMapper">
    <resultMap type="com.web.bean.OrderItem" id="base">
        <id property="id" column="id"/>
        <result property="sum" column="sum"/>
        <result property="orderid" column="orderid"/>
        <association property="goods" column="goodsid"
                     select="com.web.mapper.GoodsMapper.getById"/>
    </resultMap>
    <insert id="save" parameterType="com.web.bean.OrderItem">
        INSERT INTO orderitem
        (orderid, goodsid, sum)
        VALUES
            (#{orderid}, #{goods.id}, #{sum})
    </insert>
    <delete id="delete">
        DELETE FROM orderitem
        WHERE id = #{id}
    </delete>
    <select id="listByOrderid" resultMap="base">
        SELECT *
        FROM orderitem
        WHERE orderid = #{orderid}
    </select>
</mapper>