<#assign ctx=request.contextPath>
<!-- 公共的页面头部引入页面 -->
<link rel="shortcut icon" href="${ctx}/images/logo/logo.ico"/>
<link rel="Bookmark" href="${ctx}/images/logo/logo.ico"/>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="Cache-Control" content="no-store"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="Cache" content="no-cache">

<link rel="stylesheet" type="text/css" href="${ctx}/css/admin/mainbase.css">
<link rel="stylesheet" type="text/css" href="${ctx}/css/admin/main.css">
<link rel="stylesheet" type="text/css" href="${ctx}/css/button.css">
<link href="${ctx}/css/jquery-ui/jquery-ui-1.8.14.custom.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="${ctx}/js/jquery/jquery-1.11.0.js"></script>
<script type="text/javascript" src="${ctx}/js/jquery/jquery-migrate-1.2.1.js"></script>
<script type="text/javascript" src="${ctx}/js/jquery/jquery.form.js"></script>
<script type="text/javascript" src="${ctx}/js/jquery/jquery.validate.min.js"></script>

<script type="text/javascript" src="${ctx}/js/jqueryui/jquery-ui.js"></script>
<script type="text/javascript" src="${ctx}/js/jqueryui/jquery-ui.datepicker-zh-CN.js"></script>
<script type="text/javascript" src="${ctx}/js/public.js"></script>
<script type="text/javascript" src="${ctx}/js/TimeFormat.js"></script>

<script src="${ctx}/js/artDialog-6.0.2/dist/dialog-min.js"></script>
<link href="${ctx}/js/artDialog-6.0.2/css/ui-dialog.css" rel="stylesheet">