<#include "/common/header.html"/>
<div class="data_table">
    <table class="listContent">
        <tr>
            <th>序号</th>
            <th>会议室</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>使用中</td>
            <td align="center">
                <a href="javascript:void(0);" onclick="javascript:openWindow('','','')">『申请』</a>
                <a href="javascript:void(0);" onclick="javascript:openWindow('','','')">『查看』</a>
            </td>
        </tr>
    </table>
</div>