<!DOCTYPE html>
<html>
<head>
    <title>工作计划</title>
<#assign ctx=request.contextPath>
    <link rel="shortcut icon" href="${ctx}/images/logo/logo.ico"/>
    <link rel="Bookmark" href="${ctx}/images/logo/logo.ico"/>
    <script type="text/javascript" src="${ctx}/js/jquery/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="${ctx}/js/jquery/jquery-migrate-1.2.1.js"></script>
    <script type="text/javascript" src="${ctx}/js/jquery/jquery.form.js"></script>
    <script type="text/javascript" src="${ctx}/js/jquery/jquery.validate.min.js"></script>
    <script type="text/javascript" src="${ctx}/js/jqueryui/jquery-ui.js"></script>
    <script type="text/javascript" src="${ctx}/js/jqueryui/jquery-ui.datepicker-zh-CN.js"></script>
    <!-- 导入tinymce 编辑器 -->
    <script type="text/javascript" src="${ctx}/js/tiny_mce/tiny_mce.js"></script>
    <!-- 导入时间控件My97 -->
    <script type="text/javascript" src="${ctx}/js/My97DatePicker/WdatePicker.js"></script>
    <!-- 引入对话框 -->
    <script src="${ctx}/js/artDialog-6.0.2/dist/dialog-min.js"></script>
    <link rel="stylesheet" href="${ctx}/js/artDialog-6.0.2/css/ui-dialog.css">
</head>

<script type="text/javascript">

    tinyMCE.init({
        mode: "exact", // mode:指定附加的模式 textareas : html页面上所有的textarea元素都附加上.
        elements: "work", // exact:精确的模式， 需要指定html元素id属性值
        theme: "advanced", // 主题：advanced(高级的) 、simple(简单的)
        language: "zh-cn", // 国际化
        /** 指定工具按钮资源文件存放的文件夹 */
        plugins: "autolink,lists,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave",
        /** 指定工具按钮在上面放四排 */
        theme_advanced_buttons1: "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontselect,fontsizeselect",
        theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
        theme_advanced_buttons3: "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
        theme_advanced_buttons4: "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak,restoredraft",

        /** 指定工具按钮上下的位置 top、bottom */
        theme_advanced_toolbar_location: "top",
        /** 指定工具按钮左、中、右显示的位置 left、center、right */
        theme_advanced_toolbar_align: "left",
        /** 指定状态栏的位置 (top、bottom) */
        theme_advanced_statusbar_location: "bottom",
        /** 指定编辑器是否可以拖动 */
        theme_advanced_resizing: true
    });

    //关闭当前窗口
    function returnBack() {
        window.opener.location.href = window.opener.location.href;
        self.close();
    }

    $(function () {
        //表单提交验证（使用jquery的验证validate框架）
        $("#form1").validate({
            rules: {
                'workName': {required: true, minlength: 5},
                'planStartDate': {required: true},
                'planEndDate': {required: true}
            },
            messages: {
                workName: {required: "工作计划名称不能为空!", minlength: "最少5个字符"},
                planStartDate: {required: "计划开始时间不能为空！"},
                planEndDate: {required: "计划结束时间不能为空！"}
            },
            submitHandler: function (form) {//验证通过执行
                var workName = $("#workName").val();
                var work = tinyMCE.get('work').getContent();
                var planStartDate = $("#planStartDate").val();
                var planEndDate = $("#planEndDate").val();

                var params = {
                    "workName": workName, "work": work,
                    "planStartDate": planStartDate, "planEndDate": planEndDate
                };
                var url = "${ctx}/work/ajaxAddWork";
                $.post(url, params, function (flag) {
                    if (flag) {
                        var d = dialog({
                            title: '温馨提示',
                            content: '新增成功',
                        });
                        d.show();
                        setTimeout(function () {
                            d.close().remove();
                            returnBack();
                        }, 1000);
                    }
                }, "json");
            }
        });
    });
</script>
<body>
<form id="form1" name="form1" method="post">
    <p>&nbsp;</p>
    <table>
        <tr>
            <td>工作标题:</td>
            <td>
                <span class="error" id="workName_Error"></span>
                <input type="text" name="workName" id="workName"/>
            </td>
        </tr>
        <tr>
            <td>工作内容:</td>
            <td>
                <span class="error" id="work_Error"></span>
                <textarea name="work" id="work" cols="40" rows="7"></textarea>
            </td>

        </tr>
        <tr>
            <td>计划开始时间:</td>
            <td>
                <span id="planStartDate_Error"></span>
                <input id="planStartDate" class="Wdate" name="planStartDate"
                       onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:false,maxDate:'#F{$dp.$D(\'planEndDate\')}'});"/>
            </td>
        </tr>
        <tr>
            <td>计划完成时间:</td>
            <td>
                <span id="planEndDate_Error"></span>
                <input id="planEndDate" class="Wdate" name="planEndDate"
                       onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true,minDate:'#F{$dp.$D(\'planStartDate\',{d:+1})}'});"/>
            </td>
        </tr>
    </table>
    <p>&nbsp;</p>
    <input type="submit" value="新&nbsp;增"/>
    <input type="button" onclick="returnBack()" value=" 关  闭 "/>
</form>
</body>
</html>
