<#include "/common/header.html"/>
<script type="text/javascript">
    function returnBack() {
        window.opener.location.href = window.opener.location.href;
        self.close();
    }

    $(function () {

        //表单提交验证（使用jquery的验证validate框架）
        $("#form1").validate({
            rules: {
                'goodsName': {required: true},
                'price': {required: true},
                'units': {required: true}
            },
            messages: {
                goodsName: {required: "物品名称不能为空!"},
                price: {required: "物品价格不能为空！"},
                units: {required: "物品单位不能为空！"}
            },
            submitHandler: function (form) {//验证通过执行
                var goodsName = $("#goodsName").val();
                var price = $("#price").val();
                var units = $("#units").val();
                var remark = $("#remark").val();
                var introduce = $("#introduce").val();

                var status = $('input[name="status"]:checked').val();

                var params = {
                    "goodsName": goodsName, "price": price,
                    "units": units, "remark": remark, "introduce": introduce, "status": status
                };
                var url = "${ctx}/goods/ajaxAdd";
                $.post(url, params, function (flag) {
                    if (flag) {
                        var d = dialog({
                            title: '温馨提示',
                            content: '新增成功',
                        });
                        d.show();
                        setTimeout(function () {
                            d.close().remove();
                            returnBack();
                        }, 1000);
                    }
                }, "json");
            }
        });
    });
</script>
<div class="title_text">
    <p>新增物品</p>
</div>
<form id="form1" action="" method="post">
    <table>
        <tbody>
        <tr>
            <td class="txtright">物品名:</td>
            <td><input type="text" class="txtinput" name="goodsName" id="goodsName"/></td>
            <td class="txtright">状况:</td>
            <td>
                <input type="radio" name="status" value="0"/>停用
                <input type="radio" name="status" value="1" checked/>启用
                <input type="radio" name="status" value="2"/>维修
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="txtright">价格:</td>
            <td><input type="text" class="txtinput" name="price" id="price"/></td>
            <td>单位：</td>
            <td><input type="text" class="txtinput" name="units" id="units"/></td>
        </tr>

        <tr>
            <td class="txtright">备注:</td>
            <td><textarea name="remark" id="remark" rows="4" cols="23"></textarea></td>
            <td class="txtright">描述:</td>
            <td><textarea name="introduce" id="introduce" rows="4" cols="23"></textarea></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <p>
                    <input type="submit" value=" 保  存 "/>
                </p></td>
            <td>&nbsp;</td>
            <td><p></p>
                <p>
                    <input type="button" value=" 关  闭 " onclick="returnBack();"/>
                </p></td>
        </tr>
        </tbody>
    </table>
</form>