@charset "utf-8";
.main {
    width: 960px;
    float: right;
}

.main .text img {
    width: 512px;
    height: 338px;
    float: right;
    margin: 0 0 34px 34px;
}

.main .text p {
    text-indent: 2em;
    line-height: 36px;
    color: #666666;
}