
* {
    font-size: 12px;
}

body {
    text-align: center;
    margin: 0 auto;
    font: 12px/1.5 Simsun, Arial, Helvetica, sans-serif;
    background: #fff;
}

ul li {
    list-style: none;
}

#bodyContainer {
    background: #ffffff;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 970px;
    height: auto;
    margin-right: auto;
}

#header {
    width: 100%;
    height: 80px;
}

.headertop {
    width: 100%;
    height: 56px;
}

.logo {
    width: 254px;
    height: 56px;
    background: url(../../images/common/OAS_logo.png) no-repeat;
    float: left;
}

.text {
    margin-top: 13px;
    float: right;
    margin-right: 10px;
}

.text ul li {
    padding: 2px;
    padding-right: 5px;
    float: left;
}

.text a {
    color: #3232B3;
}

.text a:hover {
    text-decoration: underline;
    color: #FF0000;
}

#content {
    width: 970px;
    height: auto;
}

.rg_img {
    width: 980px;
    height: 203px;
    background: url(../../images/index/home_banner.png) no-repeat;
}

#home_download {
    width: 980px;

}

#home_download ul li {
    float: left;
}

#home_download ul {
    border-left: 1px solid #A3C7E2;
    height: 132px;
    margin: 0;
    padding: 0;
}

.hd_web_ico, .hd_pc_ico, .hd_m_ico {
    background: url("../../images/index/hd_ico.png") no-repeat;
}

.hd_web_ico {
    width: 69px;
    height: 132px;
    background-position: -80px 0px;
    float: left;
}

.hd_pc_ico {
    float: left;
    width: 68px;
    height: 132px;
    background-position: 0px 0px;
}

.hd_m_ico {
    float: left;
    width: 68px;
    height: 132px;
    background-position: -161px 0px;
}

.textwap {
    float: left;
    width: 257px;
    width: 257px !important;
    background: url(../../images/index/hdd_dis.jpg) repeat-x;
    height: 132px;
    border-right: 1px solid #A3C7E2;
}

.texttitle {
    padding: 10px;
    font-size: 14px;
    color: #446F9A;
    text-align: left;
}

#home_download ul li p {
    color: #687683;
    font-size: 12px;
    line-height: 1.5;
    margin: 0 0 0 10px;
    padding: 0;
    text-align: justify;
    margin-left: 10px;
}

.btn_login {
    margin-top: 10px;
    margin-right: 15px;
    cursor: pointer;
    border: none;
    width: 114px;
    height: 40px;
    background: url("../../images/button/login_btn.jpg") no-repeat;
}

#home_download ul li a.download {
    color: #486A83;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

#home_download ul li a.download {
    margin-top: 20px;
    display: block;
    left: 20%;
}

.home_introduct {
    padding-top: 7px;
    width: 980px;
    height: 80px;
    background: url(../../images/index/hvabg_m.gif) repeat-x;
}

.title {
    width: 298px;
    height: 80px;
    margin-top: -9px;
    padding: 0;
    background: url(../../images/index/ad_title.jpg) no-repeat scroll 0 0 transparent;
    float: left;
}

.home_introduct ul {
    padding: 0;
    margin: 0;
    float: left;
    text-align: left;
}

.home_introduct ul li {
    padding-top: 4px;
    color: #446F9A;
}

.home_content {
    width: 980px;
    height: 530px;
}

.con_left, .con_right {
    float: left;
    padding: 2px;
    margin: 2px;
}

.con_left {
    width: 700px;
    border-left: 3px solid #A3C7E2;
    border-right: 3px solid #A3C7E2;
    border-bottom: 3px solid #A3C7E2;
}

.lefttitle {
    height: 31px;
    background: url(../../images/index/hprod_tibg.gif) repeat-x;
}

.lefttitle h2 {
    color: #022C82;
    font-size: 14px;
    font-weight: normal;
    line-height: 31px;
}

.lefttitle h2 {
    margin: 0;
    padding: 0 0 0 10px;
    text-align: left;
}

.lefttext {
    width: 700px;
    height: 480px;
}

.toolli {
    margin: 0;
    height: 68px;
    border-bottom: 1px dashed #C9C9C9;
    padding: 3px 0 0px 20px;
}

.toolli a:hover {
    color: red;
}

.toolli_noborder {
    margin: 0;
    height: 50px;
    padding: 3px 0 0px 20px;
}

.toolli dd h3 {
    line-height: 10px;
    text-align: left;
    margin-left: 10px;
}

.toolli_noborder dd h3 {
    line-height: 10px;
    text-align: left;
    margin-left: 10px;
}

.toolli dd p {
    line-height: 10px;
    text-align: left;
    margin-left: 10px;
    color: #5A5A5A;
}

.toolli_noborder dd p {
    line-height: 10px;
    text-align: left;
    margin-left: 10px;
    color: #5A5A5A;
}

html > body .toolli dd h3 {
    margin-top: -4px;
    line-height: 10px;
    text-align: left;
    margin-left: 10px;
}

html > body .toolli dd p {
    line-height: 10px;
    text-align: left;
    margin-left: 10px;
    color: #5A5A5A;
}

html > body .toolli_noborder dd h3 {
    margin-top: -4px;
    line-height: 10px;
    text-align: left;
    margin-left: 10px;
}

html > body .toolli_noborder dd p {
    line-height: 10px;
    text-align: left;
    margin-left: 10px;
    color: #5A5A5A;
}

.toolli dl.cont {
    float: left;
    margin: 0;
    width: 45%;
    height: 50px;
    padding: 0 0 5px;
}

.toolli_noborder dl.cont {
    float: left;
    margin: 0;
    width: 45%;
    height: 50px;
    padding: 0 0 5px;
}

.toolli dl.cont_1 {
    float: left;
    margin: 0;
    width: 45%;
    height: 50px;
    padding: 0 0 5px;
    margin-left: 20px;
}

.toolli_noborder dl.cont_1 {
    float: left;
    margin: 0;
    width: 45%;
    height: 50px;
    padding: 0 0 5px;
    margin-left: 20px;
}

.toolli .cont h3 a {
    color: #022C82;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.8;
}

.toolli_noborder .cont h3 a {
    color: #022C82;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.8;
}

.toolli .cont_1 h3 a {
    color: #022C82;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.8;
}

.toolli_noborder .cont_1 h3 a {
    color: #022C82;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.8;
}

.hcfunc_ico {
    background: url("../../images/index/fun_icon.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 39px;
    width: 41px;
    margin-top: 5px;
}

.hattd_ico {
    background-position: 0 -150px;
}

.blog_ico {
    background-position: -50px -150px;
}

.email_ico {
    background-position: -150px 0px;
}

.chat_ico {
    background-position: -50px -50px;
}

.doc_ico {
    background-position: 0px -50px;
}

.note_ico {
    background-position: -50px 0px;
}

.memo_ico {
    background-position: -100px 0px;
}

.day_ico {
    background-position: -99px -50px;
}

.plan_ico {
    background-position: -150px -50px;
}

.exam_ico {
    background-position: 0px -100px;
}

.pro_ico {
    background-position: -99px -100px;
}

.know_ico {
    background-position: -150px -100px;
}

.main_ico {
    background-position: 0px 0px;
}

.more_ico {
    background-position: -48px -96px;
}

.con_right {
    margin-left: 8px;
    width: 255px;
    height: 520px;
    margin-left: 4px !important;
}

.righttitle {
    border: 1px solid #1ECAFC;
    height: 33px;
    width: 253px;
    background: url("../../images/index/htibg_r.jpg") repeat-x;
}

.righttitle h2 {
    color: #022C82;
    font-size: 14px;
    font-weight: normal;
    line-height: 35px;
    margin: 0;
    padding: 0 0 0 10px;
    text-align: left;
}

.righttext {
    margin: 5 0 0 0;
    width: 253px;
    height: 240px;
    border-top: 1px solid #B9B9B9;
    border-left: 1px solid #B9B9B9;
    border-right: 1px solid #B9B9B9;
    border-bottom: 3px solid #B9B9B9;
}

.righttext ul li {
    background: url("../../images/common/news_icon.jpg") no-repeat scroll 0 9px transparent;
}

.righttext ul li {
    margin: 7 0 0 -20px;
    padding: 5 5 0 15px;
    text-align: left;
}

.righttext ul li a {
    color: #5A5A5A;
    font-size: 12px;
}

.righttext ul li a:hover {
    color: #FF0000;
    font-size: 12px;
    text-decoration: underline;
}

.touch {
    margin: 5 0 0 0px;
    width: 253px;
    height: 33px;
    background: url("../../images/index/htibg_r.jpg") repeat-x;
    border: 1px solid #1ECAFC;
}

.touch h2 {
    color: #022C82;
    font-size: 14px;
    font-weight: normal;
    line-height: 35px;
    margin: 0;
    padding: 0 0 0 10px;
    text-align: left;
}

.touch_us {
    margin: 5 0 0 0;
    width: 253px;
    height: 188px;
    border-top: 1px solid #BBBBBB;
    border-left: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
    border-bottom: 4px solid #BBBBBB;
}

.touch_us p {
    width: 200px;
    text-align: left;
    font-size: 14px;
    color: #787878;
    padding: 5px;
    margin-top: 20px;
    margin-left: 10px;
    line-height: 24px;
}

#footer {
    margin: 10px 0 0 0;
    height: 100px;
    width: 980px;
    font-size: 11px;
}

.footertop {
    width: 100%;
    height: 28px;
    background: #E9E9E9;
}

.footertop span a {
    line-height: 25px;
    color: #636363;
    font-size: 12px;
}

.footertop span a:hover {
    line-height: 25px;
    color: #636363;
    text-decoration: underline;
}

#footer p span {
    font-size: 12px;
    color: #636363;
}