* {
    margin: 0 auto;
    padding: 0 auto;

}

#admin {
    width: 1000px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    width: 1000px;
    height: 150px;
    height: 122px;
    text-align: center;
    background: url("../../images/decorators/base/topbg.jpg");
}

.fun_help {
    height: 20px;

    text-align: right;
}

.t {
    margin-top: -2px;
}

.title {
    float: right;
}

html > body .t {
    margin-top: 0px;
}

.corp_user {
    float: left;
}

.fun_help ul li {
    float: left;
    padding-left: 5px;
    line-height: 18px;
}

.function {
    margin-top: 2px;
    height: 70px;
}

.function .fun_title {
    float: right;
}

.function .fun_title a:hover {
    color: red;
}

.function .fun_title ul li {
    float: left;
    height: 61 !important;
    height: 64px;
    line-height: 1.6;
    margin: 0;
    padding: 2px 0 0;
    width: 58px;
    cursor: pointer;
    font-size: 12px;
    height: 64px;
}

.function img {
    width: 36px;
    height: 36px;
    border: none;
    margin-left: auto;
    margin-right: auto;

}

.function .attend {
    width: 36px;
    height: 36px;
    background: url("../../images/fun/j_ico_attend.png");
}

.function .twitter {
    width: 36px;
    height: 36px;
    background: url("../../images/fun/j_ico_twitter.png");
}

.function .mline {
    width: 36px;
    height: 36px;
    background: url("../../images/fun/j_ico_pline.png");
}

.function .notice {
    width: 36px;
    height: 36px;
    background: url("../../images/fun/j_ico_notice.png");
}

.function .memo {
    width: 36px;
    height: 36px;
    background: url("../../images/fun/j_ico_memo.png");
}

.function .email {
    width: 36px;
    height: 36px;
    background: url("../../images/fun/j_ico_email.png");
}

.function .doc {
    width: 36px;
    height: 36px;
    background: url("../../images/fun/j_ico_docu.png");
}

.function .comm {
    width: 36px;
    height: 36px;
    background: url("../../images/fun/j_ico_comm.png");
}

.function .routine {
    width: 36px;
    height: 36px;
    background: url("../../images/fun/j_ico_log.png");
}

.function .more {
    width: 32px;
    height: 36px;
    background: url("../../images/fun/j_ico_more.png");
}

html > body .function .more {
    width: 39px;
    height: 30px;
    background: url("../../images/fun/j_ico_more.png");
}

.function .title {
    float: left;
}

.function .fun_title {
    float: right;
}

.navlimov {
    padding-left: 10px;
    width: 58px;
    height: 64px;
    background: url("../../images/fun/navlimov.png");
}

#content {
    width: 1000px;
    height: 500px;

}

.c_left, .c_right {
    float: left;
}

.c_left {
    float: left;
    width: 200px;
    height: 500px;
    background: #F2F9FF;
    border-right: 1px solid #D4E4F2;
}

.c_right {
    float: right;
    width: 780px;
    height: auto;
    overflow-y: auto;
}