body {
    background: url("../../images/index/admin_bg.jpg") repeat-x #fff;
}

.p_left, .p_right {
    margin: 0 auto;
    float: left;
}

.p_left {
    float: left;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 500px;
    border-right: 1px solid #D4E4F2;
}

.p_right {
    margin-top: 5px;
    width: 770px;
    height: 490px;
    float: right;
    overflow-y: auto;
    margin-left: 3px;
}

.person {
    width: 200px;
    height: 110px;
    background: #FFFFDB;
}

.person_msg table, .add_master table, .edit_master table {
    padding-top: 10px;
    font-size: 12px;
    line-height: 20px;
    width: 190px;
}

.user {
    /*background: url("../../images/common/user.jpg") no-repeat;*/
    width: 58px;
    height: 58px;
    float: left;
    border: 1px solid #DDDDDD;
}

.focus {
    padding-left: 2px;
    padding-right: 2px;
    height: 30px;
    border-top: 1px solid #A6BBCE;
    background: #EFF5FF;
    text-align: left;
    line-height: 30px;
}

.ico_focus, .ico_note, .ico_more {
    background: url("../../images/decorators/icon/f4.gif") no-repeat;
}

.ico_focus {
    background-position: -306px -299px;
    cursor: pointer;
    height: 16px;
    width: 16px;
    float: left;
    margin-top: 7px;
    margin-left: 10px;
}

.p_con, .p_news {
    float: left;
    margin-left: 3px;
}

.p_con {
    width: 530px;
    height: auto;
    border: 1px solid #A6BBCE;
}

.p_news {
    width: 210px;
    height: auto;
}

.right_top {
    height: 30px;
    padding: 10px 0;
}

table {
    height: 80;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 4 5 5px;
    height: 24px;
    padding: 0 5px;
}

table tr td {
    color: #808080;
}

table tr td a {
    color: #28679D;
}

.bottom_bg {
    height: 74px;
    background: url("../../images/index/bottom_bg.png") repeat-x bottom;
}

.ico_note {
    background-position: -470px -444px;
    height: 16px;
    width: 18px;
    float: left;
    margin-top: 7px;
    margin-left: 5px;
}

.ico_bbs, .ico_doc, .ico_email {
    cursor: pointer;
    display: block;
    float: left;
    height: 16px;
    width: 16px;
    margin-top: 7px;
    margin-left: 5px;
}

.ico_bbs {
    background: url("../../images/mgt/icon/hbbs.gif") no-repeat;
}

.ico_doc {
    background: url("../../images/mgt/icon/hdocu.gif") no-repeat;
}

.ico_email {
    background: url("../../images/mgt/icon/hmy_mail.gif") no-repeat;
}

.more {
    padding-top: 6px;
    margin-right: 8px;
}

.ico_more {
    background-position: -185px -959px;
    cursor: pointer;
    height: 17px;
    width: 40px;
    float: right;
}

.new, .bbs {
    text-align: left;
}

.new ul li, .bbs ul li {
    overflow: hidden;
    margin-left: -30px;
    margin-top: 5px;
    line-height: 26px;
}

.new ul li a:hover, .bbs ul li a:hover {
    color: red;
}

/**功能-考勤**/
.attend_left {
    height: 500px;
    background: #F2F9FF;
}

#punch, #record, #count {
    float: left;
}

.attend_1, .attend_2, .attend_3 {
    width: 22px;
    height: 22px;
    float: left;
    margin-top: -5px;
}

.attend_1 {
    background: url("../../images/mgt/icon/attend_1.png") no-repeat;
}

.attend_2 {
    background: url("../../images/mgt/icon/attend_2.png") no-repeat;
}

.attend_3 {
    background: url("../../images/mgt/icon/attend_3.png") no-repeat;
}

.attend_move {
    background: url("../../images/common/attend_move.jpeg") no-repeat;
    width: 150px;
    height: 30px;
    padding: 10px;
}

.attend_left ol {
    float: left;
    margin-left: 10px;
    padding-left: 8px;
    margin-top: 10px;
}

.attend_left ol li {
    width: 150px;
    height: 28px;
    cursor: pointer;
    padding: 10px;
    margin-left: 0px;
    padding-left: -4px;
    font-size: 14px;
}

.attend_left span {
    float: left;
    font-weight: bold;
    color: #364B63;
}

/*考勤打卡*/
.record_div, .count_div {
    display: none;
}

.work {
    background: url("../../images/mgt/work_attend.png") no-repeat;
    width: 750px;
    height: 161px;
}

.time {
    width: 200px;
    height: 70px;
    float: left;
    margin-left: 55px;
    padding-top: 55px;
}

#work_time {
    font-size: 36px;
    font-weight: bold;
}

.time_second {
    font-weight: bold;
}

.time_day {
    color: #666666;
}

.workIn {
    width: 148px;
    height: 100px;
    margin-top: 55px;
    margin-right: 190px !important;
    margin-right: 80px;
    float: right;
}

.workIn_button {
    background: url("../../images/button/work_btn.png") no-repeat;
    border: none;
    width: 148px;
    height: 37px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.business {
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
    color: #666;
}

.work_infor table {
    width: 750px;
}

.work_infor table th {
    width: 101px;
    height: 30px;
    padding: 0 6px;
    font-weight: normal;
    background: #F1F1F3;
    border-bottom: 1px solid #D7D7D7;
    border-left: 1px solid #D7D7D7;
}

.work_infor table td {
    border-left: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
    border-right: 1px solid #D7D7D7;
    width: 650px;
}

.editMemo {
    margin: 15px 0 0 0;
    width: 100%;
    height: 70px;
    display: none;
    margin-top: -0px;
}

.MemoText {
    width: 100%;
    hegiht: 65px;
}

.button {
    float: right;
    margin: 8px;
    width: 55px;
    hegiht: 24px;
    line-height: 18px;
    padding-top: 3px;
}

/**我的考勤**/
.record_table table {
    width: 400px;
    float: left;
}

.date {
    clear: both;
    float: left;
}

.date table {
    width: 600px;
    padding: 5px;
    text-align: center;
}

.date table th {
    background: #F1F1F3;
    border-bottom: 1px solid #D7D7D7;
    border-right: 1px solid #D7D7D7;
    border-top: 1px solid #D7D7D7;
    font-size: 12px;
    font-size: 12px;
    padding: 5 6px;
    line-hegiht: 24px;
    font-weight: normal;
}

.date table td {
    width: 75px;
    height: 65px;
    border-bottom: 1px solid #D7D7D7;
    border-right: 1px solid #D7D7D7;
}

.leftborder {
    border-left: 1px solid #D7D7D7;
}

.date p {
    text-align: left;
    color: #666;
    margin-left: 13px;
}

/**微博**/
.twitter_content {
    height: auto;
    overflow-y: auto;
}

.twitter_share {
    width: 760px;
    height: 50px;
    background: #F3F3F3;
    padding-left: 5px;
    padding-right: 5px;
}

.share_text {
    width: 760px;
    height: 120px;
    background: #F3F3F3;
    padding-left: 5px;
    padding-right: 5px;
}

.ptext {
    padding-top: 10px;
    width: 740px;
    border: 1px solid #D0D0D0;
    border-radius: 5px 5px 5px 5px;
    height: 65px;
    background: #fff;
    margin-right: atuo;
    margin-left: auto;
}

.ptext .textarea {
    background: #fff;
    width: 740px;
    height: 68px;
    margin-top: -8px;
    border: none;
    overflow-y: hidden;
    font-size: 14px;
    font: "微软雅黑";
    padding: 0;
    width: 740px;
}

.public {
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}

.public_button {
    background: url("../../images/button/public_btn.png") no-repeat;
    width: 112px;
    height: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: none;
}

.shareTable {
    width: 750px;
    margin-left: 10px;
    padding: 2px;
}

.shareTable th {
    width: 100px;
    height: auto;
    font-weight: normal;
    text-align: left;
}

.opeation {
    color: #000;
    cursor: pointer;
}

.user_infor {
    width: 200px;
    height: 100px;
}

.count {
    width: 180px;
    height: 35px;
    background: #F3F3F3;
    border: 1px solid #ACACAC;
}

.comment {
    background: #F3F3D7;
    border: 1px solid #D6D677;
    line-height: 37px;
    width: 180px;
}

/*主线*/
.master_left, .master_center, .master_right {
    float: left;
}

.master_left, .master_center {
    margin: 5px;
}

.master_left {
    width: 200px;
    height: 450px;
    border: 1px solid #B7B9BE;
}

.master_center {
    width: 550px;
    height: 450px;
    border: 1px solid #B7B9BE;
    overflow-y: auto;
}

.m_content {

}

.master_right {
    width: 220px;
    height: auto;
}

.quest {
    margin-top: 5px;
    width: 210px;
    height: auto;
    border: 1px solid #B7B9BE;
    overflow-y: auto;
}

.m_title {
    height: 30px;
    background: url("../../images/mgt/m_title.gif") repeat-x;
}

.m_title_admin1, .m_title_admin2 {
    color: #12335F;
    line-height: 26px;
    margin-right: 12px;
    padding-left: 20px;
    text-decoration: none;
}

.m_title_admin1 {
    background: url("../../images/mgt/icon/icon_sort_add.gif") no-repeat scroll 6px 1px transparent;
}

.m_title_admin2 {
    background: url("../../images/mgt/icon/icon_sort_edit.gif") no-repeat scroll 6px 1px transparent;
}

.process {
    margin-top: 5px;
    background: url("../../images/mgt/toolbar_bg.gif") repeat-x;
    height: 40px;
    line-height: 35px;
    font-size: 14px;
    text-align: left;
}

.help_process {
    background: url("../../images/mgt/example/help_process.gif") no-repeat;
    width: 500px;
    height: 67px;
    margin-top: 10px;
}

.add_master, .edit_master {
    display: none;
}

/*公告*/
.notes_main {
    height: 450px;
}

.note_title {
    background: url("../../images/mgt/note_top_bg.gif") repeat-x;
    height: 30px;
    margin-top: -2px;
}

.note_title ol li {
    width: 100px;
    height: 27px;
    float: left;
    font-size: 14px;
    line-height: 26px;
    margin: 0 auto;
    margin-left: 25px;
    cursor: pointer;
    margin-top: 2px;
    color: #2A2A2A;
}

.note_1_cont, .note_2_cont {
    height: auto;
    overflow-y: auto;
}

.note_2_cont {
    display: none;
}

.ntable, .mtable {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.mtable .h1 {
    border-left: 1px solid #D7D7D7;
}

.mtable th {
    width: 100px;
    height: 30px;
    fon-size: 12px;
    font-weight: normal;
    border-top: 1px solid #D7D7D7;
    border-right: 1px solid #D7D7D7;
    background: #2CA5E3;
    color: #fff;
    font-family: "微软雅黑";
}

.mtable td {
    color: #000;
    height: 30px;
    font-size: 14px;
    text-align: center;
    border-top: 1px solid #D7D7D7;
    border-right: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
    height: 30px;
}

.ntable th {
    width: 120px;
    font-weight: normal;
    text-align: left;
    font-size: 14px;
}

.sign {
    color: red;
    padding: 5px;
    margin-top: 3px;
}

.n_text {
    width: 500px;
    height: 28px;
    margin-top: 2px;
}

.n_textarea {
    width: 500px;
    height: 220px;
}

/*备忘*/
.mymemo {
    width: 190px;
    height: 80px;
}

.mymemo .new_memo {
    margin-top: 15px;
    background: url("../../images/button/memo_btn.png") no-repeat;
    width: 117px;
    height: 36px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.memo_1, .memo_2, .memo_3, .memo_4 {
    background: url("../../images/mgt/icon/memo_left_icon.gif") no-repeat;
    width: 25px;
    height: 18px;
    float: left;
    margin-top: -3px;
}

.memo_1 {
    background-position-x: 0px;
}

.memo_2 {
    background-position-x: -25px;
}

.memo_3 {
    background-position-x: -48px;
}

.memo_4 {
    background-position-x: -71px;
}

.memo_2_show, .memo_3_show, .memo_4_show {
    display: none;
}

.new_memo_show {
    margin-top: 5px;
    width: 750px;
    height: 350px;
    border: 1px solid #C5D2E3;
    width: 750px;
    text-align: left;
}

.memo_l, .memo_r {
    float: left;
    padding: 5px;
}

.memo_l {
    width: 150px;
    background: url("../../images/button/memo_btn_bg.jpg") no-repeat;
    width: 145px;
    height: 94px;
    margin: 20px;
}

.memo_r {
    width: 500px;
    height: 300px;
    margin-top: 10px;
}

.memo_r ol li {
    font-size: 14px;
    list-style: square;
    padding: 10px;
}

.memo_button {
    background: url("../../images/button/memo_btn_bg.jpg") no-repeat 0px -145px;
    width: 109px;
    height: 54px;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.memo_share, .memo_review {
    margin-top: 5px;
    width: 750px;
    /*height: auto;*/
    height: 300px;
    border: 1px solid #C5D2E3;
}

.a_r_title {
    width: 750px;
    background: url("../../images/mgt/a_r_opera_bg.gif") repeat-x;
    height: 30px;
}

.a_r_title ol li {
    font-size: 12px;
    float: left;
    line-height: 30px;
    padding-left: 20px;
}

.a_r_title .m_button {
    margin-top: 4px;
    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
    background: url("../../images/mgt/icon/search_btn.gif") no-repeat red;
    width: 29px;
    height: 23px;
    border: none;
    margin-left: -10px;
}

/**电子邮件**/
.email_content {
    width: 980px;
    height: 400px;
}

.email_left, .email_right {
    float: left;
    margin-top: 8px;
}

.email_title {
    background: url("../../images/mgt/icon/js_gbj.jpg") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    font-size: 14px;
    height: 31px;
    letter-spacing: 1px;
    text-align: center;
    width: 178px;
    margin-left: 2px;
    line-height: 24px;
}

.email_left {
    width: 170px;
    height: 400px;
    text-align: center;
}

.email_left ol {
    float: left;
    color: #247A83;
}

.email_left ol li {
    margin-top: 20px;
}

.email_left ol li a {
    color: #247A83;
    font-size: 14px;
}

.email_left ol li a:hover {
    color: #3445C6;
}

.email_right {
    height: 600px;
    width: 790px;
    border: 1px solid #D4E4F2;
}

.w_letter, .r_letter, .e_letter, .s_letter, .d_letter {
    background: url("../../images/mgt/icon/mymail.png") no-repeat;
    float: left;
    height: 24px;
    width: 30px;
    margin-top: -5px;
}

.w_letter {
    background-position: 0 -40px;
    height: 24px;
    width: 30px;
}

.r_letter {
    background-position: -30px -40px;
    height: 24px;
    width: 30px;
}

.e_letter, .s_letter, .d_letter {
    background-position: -60px -40px;
}

.jsadbox {
    margin-left: 5px;
    margin-top: 50px;
    background: none repeat scroll 0 0 #D0F7D1;
    float: left;
    height: 289px;
    overflow: hidden;
    position: relative;
}

.show_email {
    width: 350px;
    height: auto;
    margin-top: 10px;
    float: right;
}

.show_email ol li {
    margin-top: 10px;
    border: 2px solid #9CD8AE;
}

.show_email span {
    float: left;
    line-height: 30px;
    font-size: 14px;
    margin-left: 10px;
}

.borbox {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #9CD8AE;
    height: auto;
    margin: 5px;
    text-align: center;
}

.borbox p {
    font-size: 14px;
    text-align: left;
    line-height: 24px;
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/**邮件信息【写信】和【收信】***/
.write_l {
    display: block;
}

.take_l {
    display: none;
}

/**end***/
.oper_posit {
    width: 100%;
    height: 33px;
}

.send, .temp, .cancel {
    float: left;
    width: 70px;
    height: 24px;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    line-height: 24px;
}

.ico_send, .ico_temp, .ico_cancel {
    background: url("../../images/decorators/icon/f4.gif") no-repeat;
    display: block;
    float: left;
    font-size: 1px;
    height: 21px;
    margin: 0px;
    width: 21px;
}

.ico_send {
    background-position: -105px -553px;
}

.ico_temp {
    background-position: -21px -553px;
}

.ico_cancel {
    background-position: -168px -553px;
}

.ico_send span, .ico_temp span, .ico_cancel span {
    float: left;
}

.ico_hover {
    width: 70px;
    height: 24px;
    background: url("../../images/button/email_btn.png") no-repeat red;
}

.mail_send {
    width: 720px;
    height: auto;
}

.mail_send table {
    width: 100%;
    height: auto;
}

.mail_send table tr td {
    padding-top: 5px;
    text-align: left;
}

.email_text {
    width: 550px !important;
    width: 560px;
    border: 1px solid #CCCCCC;
    height: 295px;
    overflow: auto;
    text-align: left;
}

.mail_send table tr td select {
    font-size: 12px;
}

.mceFirst {
    width: 550px;
    height: auto;
    background: #F0F0EE;
    border: 1px solid #CCCCCC;
    float: left;
}

.mceFirst table tr td {
    margin: 10px;
}

.mceIcon, .mce_italic, .mce_underline, .mce_strikethrough, .mce_justifycenter, .mce_justifyleft, .mce_justifyright, .mce_justifyfull, .mce_bullist, .mce_numlist, .mce_outdent, .mce_indent {
    background: url("../../images/mgt/icon/icons.gif") no-repeat scroll transparent;
    display: block;
    height: 20px;
    width: 20px;
}

.mce_bold {
    background-position: 0 0;
}

.mce_italic {
    background-position: -60px 0;
}

.mce_underline {
    background-position: -140px 0;
}

.mce_strikethrough {
    background-position: -120px 0;
}

.mce_justifyleft {
    background-position: -460px 0;
}

.mce_justifyright {
    background-position: -480px 0;
}

.mce_justifycenter {
    background-position: -420px 0;
}

.mce_justifyfull {
    background-position: -440px 0;
}

.mce_bullist {
    background-position: -20px 0;
}

.mce_numlist {
    background-position: -80px 0;
}

.mce_outdent {
    background-position: -540px 0;
}

.mce_indent {
    background-position: -400px 0;
}

.format input, .font_word input, .font_size input {
    width: 70px;
    height: 22px;
    background: #ffffff;
    border: 1px solid #A2ABC0;
    line-height: 19px;
    padding-left: 2px;
    color: #878772;
    cursor: pointer;
    float: right;
}

.mceOpen {
    background: url("../../images/mgt/icon/icons.gif") repeat scroll -741px 0 transparent;
    border: 1px solid #CCCCCC;
    height: 20 !important;
    height: 21px;
    margin-right: 2px;
    width: 10px;
    float: left;
    height: 21px;
}

.e_commit_btn {
    float: left;
    margin-left: 10px;
    width: 650px;
    height: 35px;
    background: #F7F7F7;
    border: 1px solid #EBEBEB;
}

.jgcont, .oper_cont, .search_button {
    background: url("../../images/mgt/f2.gif") repeat-x;
    background-position: 0 -453px;
    border: 1px solid #87A3C1;
    cursor: pointer;
    font-size: 12px;
}

.jgcont {
    width: 60px;
    margin-left: 8px;
    height: 23px;
}

.oper_cont {
    padding-left: 2px;
    padding-top: 2px;
    padding-right: 2px;
    float: left;
    margin-left: 5px;
    margin-top: 8px;
}

.search_button {
    height: 23px;
    float: left;
}

.take_title {
    height: 40px;
}

.take_title p {
    width: 100px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    line-height: 35px;
    margin-left: 10px;
    float: left;
}

.take_title .e_search {
    padding: 0px;
    margin-top: 2px;
    float: right;
}

.e_search table {
    height: 20px;
    width: 310px;
}

.oper_list {
    height: 37px;
    background: #CCE0F5;
    border: 1px solid #EBEBEB;
}

.rtable {
    width: 750px;
    font-size: 12px;
    text-align: center;
}

.rtable th {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC #CCCCCC #CCCCCC #FFFFFF;
    border-style: solid;
    border-width: 1px;
    padding: 0;
    font-weight: normal;
    background: url("../../images/mgt/f2.gif") repeat-x 0 -351px;
    height: 23px;
}

/**文档**/
.doc_content {
    width: 1000px;
    height: 500px;
    padding: 0;
    margin: 0;
}

.doc_left, .doc_right {
    float: left;
}

.doc_left {
    width: 180px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    border-right: 1px solid #97A5B0;
    background: #EDF5F8;
}

.doc_left table {
    width: 180px;
    margin: 0;
    float: left;
}

.doc_left table tr td {
    cursor: pointer;
    font-size: 12px;
    border-bottom: 1px dashed #999933;
    height: 29px;
    width: 180px;
    color: #000;
}

.bg {
    background: #2C8EF3;
    color: #000;
    font-weight: bold;
}

.ico_doc_file {
    background-position: -520 -618;
    width: 33px;
    height: 35px;
    margin-left: 10px;
}

.ico_newdoc {
    background-position: -376px -595px;
    width: 23px;
    height: 20px;
}

.ico_mydoc {
    background-position: -410px -592px;
    width: 23px;
    height: 25px;
}

.ico_localdoc {
    background-position: -342px -592px;
    width: 23px;
    height: 25px;
}

.new_d {
    display: block;
}

.my_d, .local_d {
    display: none;
}

.doc_right {
    width: 800px;
    height: 500px;
    overflow-y: auto;
    margin-right: auto;
}

.doc_move {
    background: url("../../images/common/doc_move.jpg") no-repeat;
    width: 180px;
    height: 30px;
}

.doc_con {
    width: 100%;
    height: atuo;
}

.doctable {
    width: 350px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.doctable table {
    margin-top: 20px;
    width: 290px;
    height: 160px;
    font-size: 12px;
}

.doclist {
    width: 700px;
    height: auto;
}

.doclist table {
    width: 100%;
}

.doclist table th {
    font-weight: normal;
    font-size: 14px;
    background: #ececec;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    line-height: 24px;
}

.doclist table td {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}