/**/
.t1, .atitle, .sti, .q_ti, .td, .pti, .opeation, .ptext, .myattend span {
    font-size: 14px;
}

/**/
.tt span, .a_tt span, .f1, .q_an, .date p, .button, .work_infor table th, .header ul li, .time_day, .time_second, table tr td, .focus span, .person, .dtitle, .opeation, .shareTable th {
    font-size: 12px;
}

/**/
.text_r table, .td {
    line-height: 24px;
}

.t1 {
    color: #008100;
    font-weight: bold;
}

.edit {
    color: #28679D;
}

#edit {
    float: left;
    color: #28679D;
}

.ptxt {
    font-size: 12px;
    color: #558BF8;
    text-align: left;
    width: 300px;
}

.ti {
    background: none repeat scroll 0 0 #EFF5FF;
    height: 18px;
    line-height: 1.2;
    margin: 4 5 5px;
    padding: 5px 10px 2px;
}

.a_ti {
    background: none repeat scroll 0 0 #E2EEFE;
    height: 18px;
    line-height: 1.2;
    margin: 4 5 5px;
    padding: 5px 10px 2px;
}

.tt {
    background: none repeat scroll 0 0 #E3EBFC;
    height: 30px;
}

.a_tt {
    background: none repeat scroll 0 0 #E2EEFE;
    height: 30px;
}

.tt span {
    float: left;
    padding: 8px 0 0 5px;
}

.a_tt span {
    float: left;
    padding: 8px 0 0 5px;
}

.f1 {
    line-height: 20px;
    float: left;
}

.text_r {
    width: 220px;
    height: auto;
    border: 1px solid #A6BBCE;
    margin: 0 0 5 0;
}

.text_r table {
    width: 180px;
}

.atitle {
    margin-top: 5px;
    padding-left: 8px;
    width: 750px;
    height: 30px;
    background: #F5F5F5;
    border: 1px solid #E8E8E8;
    line-height: 27px;
    text-align: left;
    color: #666666;
}

.dtitle {
    margin-top: 5px;
    padding-left: 8px;
    width: 750px;
    height: 30px;
    line-height: 27px;
    text-align: left;
}

.td {
    color: #000000;
    text-align: right;
    width: 80px;
}

.ptitle {
    width: 740px;
    height: 35px;
    float: left;
    margin-top: 5px;
    text-align: left;
    line-height: 30px;
    font-size: 14px;
}

.oright {

    padding: 5px;
}

.pti {
    color: #666;
    text-align: left;
    margin-left: 10px;
}

.btext {
    font-size: 24px;
    margin-left: 15px;
    font-weight: bold;
}

.hrTitle {
    margin: 5px 0px;
    width: 200px;
    border: 2px solid #ececec;
}

.sti {
    float: left;
    line-height: 26px;
    margin-left: 10px;
}

.q_ti {
    width: 190px;
    float: left;
    line-height: 22px;
    text-align: left;
    margin-top: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-left: 5px;
    margin-right: 5px;
    background: #C6EFEE;
    border: 1px solid #75D8D6;
    color: #1B4A76;
}

.q_an {
    margin-top: 5px;
    color: #666;
    text-align: left;
    line-height: 20px;
    margin-left: 10px;
}

.nav {
    margin-top: 1px;
    background: #E5E5E5;
    border-left: 1px solid #ACACAC;
    border-right: 1px solid #ACACAC;
    border-top: 1px solid #ACACAC;
    height: 25px;
    width: 100px;
}

.ntitle {
    width: 985px;
    height: 28px;
    background: #EBF4D5;
    margin-top: 5px;
    font-size: 12px;
    line-height: 24px;
    border: 1px solid #C6CEA7;
    text-align: left;
    padding-left: 8px;
}

.h3title {
    padding-bottom: 5px;
    border-bottom: 2px solid #2CA558;
}

.p {
    font-size: 14px;
    padding-top: 10px;
    color: #2CA558;
    font-weight: bold;
}

.right_text {
    text-align: right;
}

.right_text span {
    margin-top: -100px;
}

.e_txt {
    width: 550px !important;
    width: 560px;
    height: 22px;
}

.m_txt {
    width: 160px;
    height: 22px;
    line-height: 20px;
    color: #666;
}